<title>Sign In</title>
<main class="page login-page">

  <section class="clean-block clean-form dark">

    <div class="container ds">

      <div class="block-heading">
        <h2 class="text-info bg-gradient-primary ds"
          style="font-size:42px;font-family:Montserrat, sans-serif;letter-spacing:4px;">
          <div>Welcome to<i class="font-italic"> Vocalson.</i></div>
        </h2>
        <p style="font-size:21px;">
          <span class="ds text-muted">Hello, Doctor <i class="fa fa-user-md"></i>
          </span>
        </p>
        <h2 class="text-info"
          style="letter-spacing:-1px;filter:drop-shadow(0px 1px 1px rgba(157,157,157,0.5));margin-top:13px;">
          <p class="ds">Sign In</p>
        </h2>
      </div>

      <!-- Form -->
      <form [formGroup] class="ds rounded">
        <div class="form-group" style="margin-top:25px;">
          <label for="email" class="shadow-none" style="filter:drop-shadow(0px 1px 1px rgba(157,157,157,0.5));">
            Email
          </label>
          <input type="text" class="form-control item ds" id="email" #email />
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" (keyup.enter)="SignIn(email.value,pass.value)" class="form-control ds" id="password"
            #pass />
        </div>

        <div class="form-group">
          <a routerLink="/forgot-password" [queryParams]="{oobCode: null}" routerLinkActive="router-link-active"
            style="font-size:12px;">
            Forgot the password ? Reset.
          </a>
        </div>

        <div class="form-group">
          <button class="btn btn-primary btn-block ds rounded" type="button" (click)="SignIn(email.value,pass.value)">
            Log In
          </button>
        </div>

        <div class="form-group text-center">
          <mat-progress-bar mode="indeterminate" [ngClass]="{'invisible': !isLoading,'visible':isLoading}">
          </mat-progress-bar>
          <a href="" routerLink="/register-user" class="text-center" style="  font-size:12px;">
            Dont have one?
            <b style="  font-size:14px;">
              Sign Up
              <i class="fa fa-user-plus"></i>
            </b>
          </a>
        </div>
      </form>
    </div>

  </section>
</main>
