<div class="card shadow">
  <nav class="navbar navbar-light navbar-expand bg-white shadow file-input-area static-top border-left-info py-3">
      <div class="container-fluid">
          <p class="m-0 font-weight-bold mr-2" style="color: #007bff;">Patients</p>
      </div>
  </nav>
  <div class="card-body" style="padding: 17px;padding-top: 8px;"><a class="btn btn-success active text-center border rounded float-right btn-icon-split" role="button" data-toggle="tooltip" title="Add new patient" style="margin: 0;padding-bottom: -3px;margin-bottom: 9px;margin-left: 0;margin-right: 0;"><span class="text-white-50 icon"><i class="fas fa-plus"></i></span><span class="text-white text" style="margin: 0;padding-left: 10px;">Add </span></a>
      <form
          class="form-inline ">
          <div><input class="form-control border-info border-1" type="search" size="40" placeholder="Search" /></div>
          </form>
          <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info" style="filter: blur(0px);">
              <table class="table dataTable my-0" id="dataTable">
                  <thead>
                      <tr style="font-size: 14px;">
                          <th class="text-nowrap" style="filter: blur(0px);">P-ID</th>
                          <th>Full Name</th>
                          <th class="text-center">Gender</th>
                          <th class="text-center">DOB</th>
                          <th>Phone</th>
                          <th class="text-center">Address</th>
                          <th>Email</th>
                          <th class="text-center">Last Visit</th>
                          <th class="text-center">Manage</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr class="text-nowrap" style="font-size: 13px;">
                          <td>33</td>
                          <td class="text-nowrap" style="width: 91px;">Andre Andy</td>
                          <td class="text-nowrap text-center" style="width: 91px;">Male</td>
                          <td class="text-center" style="width: 61px;">2008/11/28<br /></td>
                          <td style="width: 61px;">Tokyo</td>
                          <td class="text-nowrap" style="padding-right: -7px;width: 2px;">2008/11/28 sdfdsfdsfdsfdsfdsfdsfdsfds hjyuikjhtyuik</td>
                          <td>2008/11/28</td>
                          <td class="text-center">2008/11/28</td>
                          <td class="text-nowrap text-center border rounded-0 d-inline-flex d-xl-flex flex-row justify-content-around align-items-stretch align-content-stretch align-self-baseline flex-nowrap m-auto"
                              style="height: 40;padding: 7px;"><button class="btn btn-success btn-sm btn-circle ml-1" type="button" style="font-size: 16;width: 30;height: 30;"><i class="icon ion-edit text-white" style="font-size: 12;"></i></button><button class="btn btn-danger btn-sm btn-circle ml-1"
                                  type="button" style="padding: 0;margin: 0;width: 30;height: 30;"><i class="fas fa-trash text-white" style="width: 30px;"></i></button></td>
                      </tr>
                  </tbody>
                  <tfoot>
                      <tr></tr>
                  </tfoot>
              </table>
          </div>
  </div>
</div>
