<link rel="stylesheet" href="../../../../assets/css/dashboad-new.css" />
<div class="card shadow">
  <div data-toggle="tooltip" class="card-header py-3 border-left-primary" title="Patients Available">
    <p class="m-0 font-weight-bold" style="color: #007bff;">Patients </p>
  </div>
  <div class="card-body text-nowrap" style="padding: 20px;padding-top: 10px;">
    <a routerLink="/register-patient"
      class="btn btn-success active text-center border rounded shadow-sm float-right btn-icon-split" role="button"
      data-toggle="tooltip" title="Add new patient"
      style="margin: 0;padding-bottom: -3px;margin-bottom: 9px;margin-left: 0;margin-right: 0;"><span
        class="text-white-50 icon"><i data-toggle="tooltip" data-placement="left" class="fa fa-plus text-white"
          style="width: 12px;"></i></span><span class="text-white text"
        style="margin: 0;padding-left: 10px;">Add </span></a>
    <form class="form-inline ">
      <div><input data-toggle="tooltip" #search title="Search patients" class="form-control border-info border-1"
          type="search" size="40" id="pick" placeholder="Search" /></div>
    </form>
    <div class="table-responsive text-nowrap shadow-sm table mt-2" id="dataTable" role="grid"
      aria-describedby="dataTable_info" >
      <table class="table dataTable my-0" id="dataTable">
        <thead class="shadow-sm">
          <tr class="text-left text-gray-700" style="font-size: 14px;">
            <th class="text-nowrap text-center text-gray-700" style="width: 67px;">P-ID</th>
            <th class="text-left">First Name</th>
            <th class="text-left">Last Name</th>
            <th class="text-center" style="width: 75px;">Gender</th>
            <th class="text-center" style="width: 66px;">Age</th>
            <th class="text-center">DOB</th>
            <th>Phone</th>
            <th class="text-left">Address</th>
            <th>Email</th>
            <th class="text-center" style="width: 72px;">Last Visit</th>
            <th class="text-center" data-toggle="tooltip" style="width: 49px;" title="Manage Patients">Manage</th>
          </tr>
        </thead>
        <tbody *ngFor="let item of patients">
          <tr focus class="text-nowrap text-left " style="font-size: 13px;">
            <td class="text-center"> {{item._id}} </td>
            <td class="text-nowrap text-left" style="width: 91px;"> {{item.firstName}} </td>
            <td class="text-nowrap" style="width: 91px;"> {{item.lastName}} </td>
            <td class="text-nowrap text-center" style="width: 77px;"> {{item.gender}} </td>
            <td class="text-nowrap text-center" style="width: 52px;"> {{item.age}} </td>
            <td class="text-center" style="width: 61px;"> {{item.dob}} </td>
            <td style="width: 61px;"> {{item.phone}} </td>
            <td class="text-nowrap" style="padding-right: -7px;width: 3px;"> {{item.address}} </td>
            <td style="width: 101px;"> {{item.email}} </td>
            <td class="text-center">2008/11/28</td>
            <td
              class="text-nowrap text-center border rounded-0 d-inline-flex d-xl-flex flex-row justify-content-around align-items-stretch align-content-stretch align-self-baseline flex-nowrap m-auto"
              style="height: 40;padding: 7px;">

              <i class="fa fa-pencil  rounded-circle flex-column align-items-end text-white"
              (click)="editPatient()"
                title="Edit" style="
                          color: #d81e05;
                          background-color: #059cd8;
                          font-size: 17px;
                     cursor: pointer;
                padding: 5px;
                          "></i>

              <i class="fa fa-trash rounded-circle flex-column align-items-end text-white" data-toggle="tooltip"
                title="Delete"
                (click)="deletePatient()"
                style="
                color: #ffffff;
                background-color: #d81e05;
                font-size: 17px;
                cursor: pointer;
                padding: 5px;
              "></i>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr></tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
