<div id="services" class="cards-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>We've got what you need!</h2>
                <p class="p-heading p-large">Parkinson's is a progressive neurological condition. This means that it causes problems in the brain and gets worse over time.
                    There's currently no cure for Parkinson's, but there are lots of different treatments, therapies and support available to help you manage the condition.</p>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div class="row">
            <div class="col-lg-12">

                <!-- Card -->
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Types of Parkinsonism</h4>
                        <p>Parkinsonism is a term that covers several conditions, including Parkinson’s and other conditions with similar symptoms such as slow movement, rigidity (stiffness) and problems with walking.</p>
                    </div>
                </div>
                <!-- end of card -->

                <!-- Card -->
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">How does Parkinson's progress?</h4>
                        <p>Parkinson's affects everyone differently.
                            The symptoms someone might have and how quickly the condition develops will differ from one person to the next.
                            For many people, the condition can take years to progress to a point where it has a real impact on daily life.</p>
                    </div>
                </div>
                <!-- end of card -->

                <!-- Card -->
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Caring for someone with advanced Parkinson's</h4>
                        <p>As someone's Parkinson's progresses, they may rely on you or others for more support.
                            It's important to know what support is available for you if you're caring for someone with advanced Parkinson's.</p>
                    </div>
                </div>
                <!-- end of card -->
                
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of cards-1 -->