<body id="page-top">
  <div id="wrapper">
      <div class="d-flex flex-column" id="content-wrapper">
          <div id="content">
              <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                  <div class="container-fluid">
                      <h3 class="text-dark mb-0">Dashboard</h3>
                  </div>
              </nav>
          </div>
          <div class="col-sm-10 col-md-7 col-lg-6 offset-sm-1 offset-md-3 offset-lg-3 offset-xl-4">
              <div class="card shadow mb-4">
                  <div class="card-header py-3 border-left-info">
                      <p class="m-0 font-weight-bold" style="color: #007bff;">Manage Profile</p>
                  </div>
                  <div class="card-body" style="width: 96;">
                      <div class="col d-flex d-xl-flex justify-content-center justify-content-xl-center"><img class="img-fluid bg-info shadow rounded-circle" style="width: 88px;margin: -11px;margin-bottom: 10px;" src="default.png" /><span class="text-black-50 icon"></span></div>
                      <div class="col d-xl-flex justify-content-xl-center"><span class="text-dark text" style="font-size: 12px;background-color: #eaeaea;filter: brightness(98%);"></span><span class="text-black-50 icon"></span></div>
                      <div class="col">
                          <form class="shadow-none d-flex d-xl-flex justify-content-center justify-content-xl-center" style="background-color: transparent;color: transparent;font-size: 13px;margin-bottom: 11px;"><a href="#">Change Details </a><i class="fa fa-edit border rounded d-xl-flex align-items-xl-center" style="color: rgb(0,30,255);"></i></form>
                          <form><input type="text" class="form-control" name="fName" placeholder="First Name" style="margin-bottom: 7px;" /><input type="text" class="form-control" name="lName" placeholder="Last Name" style="margin-bottom: 7px;" /></form>
                      </div>
                      <div class="row">
                          <div class="col">
                              <form class="d-flex d-xl-flex justify-content-center justify-content-xl-center" style="margin-top: 16px;margin-bottom: 16px;"><button class="btn border-primary shadow-sm d-flex justify-content-center align-items-center btn-icon-split" type="button" style="height: 32px;color: rgb(218,218,218);background-color: rgb(255,255,255);"><span class="text-black-50 icon" style="height: 33px;color: rgba(208,208,208,0.5);"><i class="fa fa-info-circle d-xl-flex align-items-xl-center" style="color: #0094ff;"></i></span><span class="text-dark text" style="font-size: 14px;background-color: #eaeaea;filter: brightness(98%);">Reset Password</span></button></form>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col d-flex d-xl-flex justify-content-center justify-content-xl-center"><a class="btn btn-success btn-icon-split" role="button" style="background-color: rgb(0,147,94);"><span class="text-white shadow-sm d-flex d-xl-flex justify-content-center align-items-center justify-content-xl-center align-items-xl-center text" style="height: 27px;width: 85px;">Save</span></a></div>
                      </div>
                      <form class="shadow-none d-flex d-xl-flex justify-content-end align-items-center justify-content-xl-end" style="background-color: transparent;color: transparent;font-size: 13px;margin-bottom: 11px;"><i class="fa fa-chevron-left d-xl-flex align-items-xl-center" style="color: rgb(0,30,255);"></i><a href="#"> Dashboard </a></form>
                  </div>
              </div>
          </div>
          <footer class="bg-white sticky-footer" style="margin-top: 2px;">
              <div class="container my-auto">
                  <div class="text-center my-auto copyright"><span>Copyright © Kodemen 2020</span></div>
              </div>
          </footer>
      </div><a data-toggle="tooltip" class="border rounded-circle shadow d-inline scroll-to-top" href="#page-top" title="Go to the top"><i class="fas fa-angle-left"></i></a></div>
</body>
