mat-card {
  padding: 50px;

  > mat-card-title {
  }
  > mat-card-content {
      margin: 24px 0 24px 0 ;
    #reset-pass {
        position: relative;
        top: 0px;

      font-size: 7pt;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
  }
  > mat-card-footer {
    > button {
      margin: 20px;
      width: 60%;
    }
  }
}
