<mat-card>

    <mat-card-title>
        Enter Credentials
    </mat-card-title>

    <mat-card-content>

        <div>

            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Favorite food</mat-label>
                    <input matInput placeholder="Ex. Pizza" value="">
                </mat-form-field>
                <br>
                <mat-form-field class="example-full-width">
                    <mat-label>Favorite food</mat-label>
                    <input matInput placeholder="Ex. Pizza" value="">
                </mat-form-field>

            </form>
        
                <p id="reset-pass">Forgot Password ? Reset it here</p>
          
        </div>

    </mat-card-content>

    <mat-card-footer>

        <button mat-raised-button color="#00FF00">
            Sign in
        </button>


    </mat-card-footer>

</mat-card>