$title-shadow: drop-shadow(0px 2px 3px #08315349);

$div-shadow : drop-shadow(0px 2px 5px #297b916c);

$input-box-shadow : drop-shadow(0px 2px 2px #1c768f28);

$button-shadow : drop-shadow(0px 3px 6px #0ba70b9f);