<title>Forgot Password</title>
<main class="page  p-5 ">
  <section class="clean-block clean-form dark  p-5">
    <div class="container ds  p-5">

      <div class="block-heading p-5">

        <h2 class="text-info"
          style="margin: auto; filter:drop-shadow(0px 1px 1px rgba(157,157,157,0.5)); margin-top:103px; ">
          <p class="ds text-center">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          </p>
        </h2>


      </div>
    </div>
  </section>

</main>
