<footer class="page-footer dark" style="padding-bottom:0;padding-top:-30px;background-color:rgb(23,23,23);">
  <div class="container flex-fill mx-lg-auto flex-xl-fill m-xl-auto">
    <div class="row">
      <div class="col-sm-3">
        <h5 style="margin-top:0px;">Get started</h5>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/">Sign In</a></li>
          <li><a href="/">Dashboad</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5 style="margin-top:0;">About us</h5>
        <ul>
          <li></li>
          <li><a href="#">Contact us</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5 style="margin-right:0;margin-top:0;">Support</h5>
        <ul>
          <li><a href="#">Help desk</a></li>
        </ul>
      </div>
      <div class="col-sm-3" style="line-height:33px;font-size:14px;">
        <h5 style="margin-top:0;">Legal</h5>
        <ul>
          <li><a href="#">Terms of Service</a></li>
          <li><a href="#">Terms of Use</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright" style="background-color:rgb(0,0,0);">
    <p><i class="fa fa-copyright"></i>2020 Copyright Reserved by [ Dev ] The Team Kodemen - Vocalson - Health
      Institution</p>
  </div>
</footer>
