<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <title>Dashboard </title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat+Alternates" />
</head>

<body id="page-top">
  <div id="wrapper">
    <div class="d-flex flex-column" id="content-wrapper">
      <div id="content">

        <nav *ngIf="authService.userDocor as user"
          class="navbar navbar-light navbar-expand bg-white shadow d-sm-flex flex-row align-content-center align-items-sm-center mb-4 topbar static-top p-1">
          <div class="container-fluid">
            <h3 class="text-dark ml-3">Dashboard</h3>
            <div class="col">
              <div class="row">
                <div class="col">
                  <div></div>
                </div>
              </div>
            </div>

            <span mat-icon-button style="font-family: 'Montserrat Alternates', sans-serif;"
              [matMenuTriggerFor]="appMenu" style="cursor: pointer;" class="d-none d-md-inline mr-2 text-dark">
              {{user.displayName}}
            </span>

            <img mat-icon-button [matMenuTriggerFor]="appMenu" class="img-fluid round mr-2 rounded-circle"
              style="width: 40px; cursor: pointer;" src="{{user.photoURL}}" />
            <mat-menu #appMenu="matMenu" class="rounde-1 m-0">

              <div class="card-body d-flex justify-content-center">
                <img class="img-fluid round rounded-circle" style="width: 50px;" src="{{user.photoURL}}" />
              </div>

              <a mat-menu-item routerLink="/account" style="font-family: 'Montserrat Alternates', sans-serif;">
                <span class="fa fa-cog">
                </span>
                Account
              </a>

              <a mat-menu-item style="font-family: 'Montserrat Alternates', sans-serif;">
                <span class="fa fa-volume-control-phone">
                </span>
                Contact Us
              </a>
              <a mat-menu-item (click)="authService.SignOut()"
                style="font-family: 'Montserrat Alternates', sans-serif;">
                <span class="fa fa-sign-out ">
                </span> Sign Out
              </a>
            </mat-menu>
          </div>
        </nav>

        <div class="container-fluid">
          <div class="row mb-3">
            <div class="col-lg-4">
              <div class="card shadow mb-4">
                <div class="card-header py-3 border-left-info">
                  <p class="m-0 font-weight-bold" style="color: #007bff;">
                    Test History
                  </p>
                </div>
                <div class="card-body">
                  <div class="progress progress-sm mb-3">
                    <div class="progress-bar bg-danger" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"
                      style="width: 20%;">
                      <span class="sr-only">20%</span>
                    </div>
                  </div>
                  <div class="progress progress-sm mb-3">
                    <div class="progress-bar bg-warning" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"
                      style="width: 40%;">
                      <span class="sr-only">40%</span>
                    </div>
                  </div>
                  <div class="progress progress-sm mb-3">
                    <div class="progress-bar bg-primary" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                      style="width: 60%;">
                      <span class="sr-only">60%</span>
                    </div>
                  </div>
                  <div class="progress progress-sm mb-3">
                    <div class="progress-bar bg-info" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"
                      style="width: 80%;">
                      <span class="sr-only">80%</span>
                    </div>
                  </div>
                  <h4 class="small font-weight-bolder">
                    Account setup<span class="float-right">Complete!</span>
                  </h4>
                  <div class="progress progress-sm mb-3">
                    <div class="progress-bar bg-success" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
                      style="width: 100%;">
                      <span class="sr-only">100%</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-8">

              <div class="row mb-3 d-none">
                <div class="col">
                  <div class="card text-white bg-primary shadow">
                    <div class="card-body">
                      <div class="row mb-2">
                        <div class="col">
                          <p class="m-0">Peformance</p>
                          <p class="m-0"><strong>65.2%</strong></p>
                        </div>
                        <div class="col-auto">
                          <i class="fas fa-rocket fa-2x"></i>
                        </div>
                      </div>
                      <p class="text-white-50 small m-0">
                        <i class="fas fa-arrow-up"></i> 5% since last month
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card text-white bg-success shadow">
                    <div class="card-body">
                      <div class="row mb-2">
                        <div class="col">
                          <p class="m-0">Peformance</p>
                          <p class="m-0"><strong>65.2%</strong></p>
                        </div>
                        <div class="col-auto">
                          <i class="fas fa-rocket fa-2x"></i>
                        </div>
                      </div>
                      <p class="text-white-50 small m-0">
                        <i class="fas fa-arrow-up"></i> 5% since last month
                      </p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col">

                  <app-speech-test>  </app-speech-test>

                </div>
              </div>
            </div>
          </div>

          <!-- Patients List Viewer -->
          <app-patients ></app-patients>

        </div>
      </div>

      <footer class="bg-white sticky-footer" *ngIf="authService.userDocor as user" style="margin-top: 42px;">
        <div class="container my-auto">
          <div class="text-center my-auto copyright">
            <span>Copyright © Kodemen 2020</span>
          </div>
        </div>
      </footer>
    </div>


    <!-- <a data-toggle="tooltip" class="border rounded-circle shadow d-inline scroll-to-top pt-1" (click)="authService.SignOut()" title="Go to the top"><i class=" material-icons">keyboard_arrow_up</i></a> -->
    <a class="border rounded-circle shadow d-inline scroll-to-top pt-1" href="#page-top" title="Go to the top"><i
        class=" material-icons">keyboard_arrow_up</i></a>
  </div>
</body>
