<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <title>Dashboard </title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat+Alternates" />
</head>

<body id="page-top">
  <div id="wrapper">
    <div class="d-flex flex-column" id="content-wrapper">
      <div id="content">

        <nav *ngIf="authService.userDocor as user"
          class="navbar navbar-light navbar-expand bg-white shadow d-sm-flex flex-row align-content-center align-items-sm-center mb-4 topbar static-top p-1">
          <div class="container-fluid">
            <h3 class="text-dark ml-3">Dashboard</h3>
            <div class="col">
              <div class="row">
                <div class="col">
                  <div></div>
                </div>
              </div>
            </div>

            <span mat-icon-button style="font-family: 'Montserrat Alternates', sans-serif;"
              [matMenuTriggerFor]="appMenu" style="cursor: pointer;" class="d-none d-md-inline mr-2 text-dark">
              {{displayName}}
            </span>

            <img mat-icon-button [matMenuTriggerFor]="appMenu" class="img-fluid round mr-2 rounded-circle"
              style="width: 40px; cursor: pointer;"
              src="{{(user.photoURL) ? user.photoURL : '../../../../../assets/img/doctor_placeholder.jpg'}}" />
            <mat-menu #appMenu="matMenu" class="rounde-1 m-0">

              <div class="card-body d-flex justify-content-center">
                <img class="img-fluid round rounded-circle" style="width: 50px;"
                  src="{{(user.photoURL) ? user.photoURL : '../../../../../assets/img/doctor_placeholder.jpg'}}" />
              </div>



              <!-- Sign OUt -->
              <a mat-menu-item (click)="authService.SignOut()"
                style="font-family: 'Montserrat Alternates', sans-serif;">
                <span class="fa fa-sign-out ">
                </span> Sign Out
              </a>
            </mat-menu>
          </div>
        </nav>

        <div class="container-fluid">
          <div class="row mb-3">
            <div class="col-lg-4">
              <div class="card shadow mb-4">
                <div class="card-header py-3 border-left-info">
                  <p class="m-0 font-weight-bold" style="color: #007bff;">
                  How to do the test
                  </p>
                </div>
                <div class="card-body text-left">
                  <ol>
                    <li>
                      <h5 class="font-weight-bolder">
                        <span >Add a patient</span>
                      </h5>
                    </li>
                    <li>
                      <h5 class=" font-weight-bolder">
                        <span >Upload 5 voice recordings</span>
                      </h5>
                    </li>
                    <li>
                      <h5 class=" font-weight-bolder">
                        <span >Complete the test</span>
                      </h5>
                    </li>
                  </ol>
                </div>
              </div>
            </div>
            <div class="col-lg-8">

              <div class="row mb-3 d-none">
                <div class="col">
                  <div class="card text-white bg-primary shadow">
                    <div class="card-body">
                      <div class="row mb-2">
                        <div class="col">
                          <p class="m-0">Peformance</p>
                          <p class="m-0"><strong>65.2%</strong></p>
                        </div>
                        <div class="col-auto">
                          <i class="fas fa-rocket fa-2x"></i>
                        </div>
                      </div>
                      <p class="text-white-50 small m-0">
                        <i class="fas fa-arrow-up"></i> 5% since last month
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card text-white bg-success shadow">
                    <div class="card-body">
                      <div class="row mb-2">
                        <div class="col">
                          <p class="m-0">Peformance</p>
                          <p class="m-0"><strong>65.2%</strong></p>
                        </div>
                        <div class="col-auto">
                          <i class="fas fa-rocket fa-2x"></i>
                        </div>
                      </div>
                      <p class="text-white-50 small m-0">
                        <i class="fas fa-arrow-up"></i> 5% since last month
                      </p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col">

                  <app-speech-test> </app-speech-test>

                </div>
              </div>
            </div>
          </div>

          <!-- Patients List Viewer -->
          <app-patients></app-patients>

        </div>
      </div>

      <footer class="bg-white sticky-footer" style="margin-top: 42px;">
        <div class="container my-auto">
          <div class="text-center my-auto copyright">
            <span>Copyright © Kodemen 2020</span>
          </div>
        </div>
      </footer>
    </div>

  </div>
</body>
