@import "../../../../cutom-stylings.scss";

.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.main-title {
  font-size: 27pt;
  color: #1c768f;
  font-family: montserrat-medium;
  filter: $title-shadow;
}

.main-header {
  display: flex;
  align-items: stretch;
  padding: 20px;
}

.header-right-div {
  width: fit-content;
  align-self: center;
  margin-left: 15px;
}

.header-text {
  width: 100%;
  color: #1c768f;
  font-family: montserrat-semibolt;
  font-size: 30pt;
  filter: $title-shadow;
}

.phonenumber-div {
  height: 80%;
  width: 20%;
  display: flex;
  padding: 15px;
  margin: auto;
  margin-top: 10px;
  overflow: hidden;
  white-space: pre-wrap;
  align-items: center;
  border-radius: 10px;
  justify-items: center;
  flex-direction: column;
  background-color: white;
  filter: $div-shadow;
}
.card-title {
  font-size: 22pt;
  color: #1c768fd2;
  font-family: montserrat-light;
  filter: $title-shadow;
}

.step-div {
  text-align: center;
}

.message {
  margin: auto;
  white-space: pre-wrap;
  width: 25%;
}

.buttons {
  padding: 3px;
  color: white;
  width: 10%;
  font-size: 14pt;
  font-family: montserrat-medium;
  background-color: #00c81b;
  margin: 0 0 30px 0;
  filter: $button-shadow;
}

.field-otp {
  width: 20%;
  margin: 0px;
}

.otp {
  padding-left: 15px;
  padding-right: 18px;
  letter-spacing: 31px;
  font-size: 18pt;
  border: 0;
  font-family: montserrat-semibolt;
  width: 300px;
}

// reference : https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

#enterdNumber {
  margin: 5px 0 10px 0;
  font-family: montserrat-medium;
  color: #067d9e;
}

//Validation color
.valid {
  color: black;
}

.invalid {
  color: red;
}

#invalid-otp {
  visibility: hidden;
  filter: $title-shadow;
  letter-spacing: 3px;
  color: red;
  margin-bottom: 5px;
}
