


<div id="recaptcha-container"></div>
<div class="main">
    <div class="main-header">
        <svg xmlns="http://www.w3.org/2000/svg" width="82.903" height="119.122" viewBox="0 0 82.903 119.122">
            <g id="Group_101" data-name="Group 101" transform="translate(-599 -503.878)">
                <path id="ic_verified_user_24px"
                    d="M44.451,1,3,19.423V47.057c0,25.562,17.686,49.465,41.451,55.269C68.217,96.522,85.9,72.619,85.9,47.057V19.423ZM35.24,74.691,16.817,56.269l6.494-6.494L35.24,61.657,65.592,31.306l6.494,6.54Z"
                    transform="translate(596 502.878)" fill="#00c81b" />
                <text id="Secure" transform="translate(622 619)" fill="#1c768f" font-size="12"
                    font-family="OratorStd, Orator Std">
                    <tspan x="0" y="0">Secure</tspan>
                </text>
            </g>
        </svg>
        <div class="header-right-div">
            <span class="header-text">
                Doctor's registration
            </span>
        </div>

    </div>
    
    <div>
        <mat-horizontal-stepper [linear]=true #stepper role="tablist">

            <mat-step [stepControl]="false" optional="false" [editable]="false" complete="true">
                <ng-template matStepLabel>Enter Phone Number</ng-template>

                <!-- <div class="phonenumber-div"> -->

                <h3 class="card-title">Enter Mobile number</h3>

                <p class="message">Enter Mobile number below to register your
                    mobile number for the doctors premium account.</p>

                <br>
                <div class="step-div">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Mobile</mat-label>
                        <span matPrefix>+94 &nbsp;</span>
                        <input type="number" aria-errormessage="Invalid" step="null" matInput placeholder="77-123-4567"
                            maxlength="10" ng-model="txtName" #phoneNumber required>
                        <mat-icon matSuffix>phone</mat-icon>


                    </mat-form-field>
                </div>
                <p class="message"> You may receive an SMS message for verification and standard rates apply.</p>
                <div id='recapcha-div'></div>
                <button mat-raised-button id="confirmBt" class="buttons" (click)="validate(phoneNumber.value,stepper)">
                    Continue
                </button>


                <!-- </div> -->

            </mat-step>
            <mat-step [editable]="false" [optional]="false">

                <ng-template matStepLabel>Confirm OTP</ng-template>

                <h3 class="card-title">Confirm OTP</h3>

                <p class="message">The OTP is 6 Digit PIN number
                    <b>(XXXXXX)</b>
                    which is sent to the number you registered
                    with. Enter the number which you received
                    via a SMS.</p>

                <p id="enterdNumber">


                    <button mat-icon-button (click)="stepper.reset()" matTooltipVisibility="show"
                        matTooltip="Change Number" matTooltipPosition="left" matTooltipHideDelay="1350">
                        <mat-icon>edit</mat-icon>

                    </button>+94 773599879</p>

                <br>
                <div class="step-div">
                    <mat-form-field appearance="outline" class="field-otp">
                        <input #otpn class="otp" (input)="onInputEntry(otpn.value,stepper)" type="number" matInput
                            placeholder="XXXXXX" maxlength="10" #otpNumber required
                            [ngClass]="{'valid': validotp,'invalid':!validotp}">
                    </mat-form-field>
                    <button mat-icon-button (click)="resendOTP()" matTooltipVisibility="show" matTooltip="Resend OTP"
                        matTooltipPosition="right" matTooltipHideDelay="1350">
                        <mat-icon color="warn">refresh</mat-icon>
                    </button><br>
                    <span id='invalid-otp'>
                        <b>INVALID OTP</b>
                        <button mat-button (click)="resendOTP()">Resend OTP</button>
                    </span>

                </div>

                <button mat-raised-button class="buttons" (click)="validate(phoneNumber.value,stepper)">
                    Confirm
                </button>

            </mat-step>
            <mat-step [editable]="false" [optional]="false">

                <ng-template matStepLabel>Finalization</ng-template>
                <p>You are now done.</p>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                </div>

            </mat-step>
        </mat-horizontal-stepper>

    </div>
</div>