<p id="greet-title">
    Welcome to Vocalson.
</p>
<div class="main">

    <div class="left-div">
        <span class="main-title">Sign In</span>
        <div class="login-div">
            <p class="card-title">Enter Credentials</p>
            <form class="login-form">
                <div>
                    <span id="login-input">Username</span>
                    <br>
                    <input class="login-input" type="text" value="">
                </div>
                <br>
                <div>
                    <span>Pasword</span><br>
                    <input class="login-input" type="password" value="">
                </div>
            </form>

            <a mat-button id="rest-pass" routerLink=".">
                Forgot Password ? Reset it here.
            </a>

            <button mat-raised-button class="login-btn">
                Login
            </button>
        </div>
    </div>
    <div class="spacer"></div>
    <div class="center-div">
        <span class="main-title">Or</span>
    </div>
    <div class="spacer"></div>
    <div class="right-div">

        <span class="main-title">Sigh Up </span>
        <div class="new-register-div">
            <p>
                Get started with a new account.<br>
                Plese put something atractive here
            </p>
            <button mat-raised-button class="signup-btn" [routerLink]="['/Registration']">
                Sign Up
            </button>
        </div>
    </div>
</div>