<!-- ======= F.A.Q Section ======= -->
<section id="faq" class="faq">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Frequently Asked Questions</h2>
      </div>
      <br/>

      <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-5">
          <i class="ri-question-line"></i>
          <h4>What is Vocalson?</h4>
        </div>
        <div class="col-lg-7">
          <p>
            It is an application to predict whether a person is diagnosed with Parkinson's or not.
          </p>
        </div>
      </div>
      <br/>

      <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
        <div class="col-lg-5">
          <i class="ri-question-line"></i>
          <h4>How to use Vocalson?</h4>
        </div>
        <div class="col-lg-7">
          <p>
            First add a patient to the system then input his/her five recordings of voice. Finally the system will predict the result
          </p>
        </div>
      </div><!-- End F.A.Q Item-->
      <br/>

      <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
        <div class="col-lg-5">
          <i class="ri-question-line"></i>
          <h4>How accurate are voice analyzing tests?</h4>
        </div>
        <div class="col-lg-7">
          <p>
            It is not 100% accurate. If the patient gets the positive results, its better to take other Parkinsons's related tests.
          </p>
        </div>
      </div><!-- End F.A.Q Item-->
      <br/>

      <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
        <div class="col-lg-5">
          <i class="ri-question-line"></i>
          <h4>How long will it take to predict the result?</h4>
        </div>
        <div class="col-lg-7">
          <p>
            It won't take that much, the results will be shown within 1-2 minutes
          </p>
        </div>
      </div><!-- End F.A.Q Item-->

      

    </div>
  </section><!-- End F.A.Q Section -->