<div class="card shadow mb-3">
  <div class="card-header py-3 border-left-primary">
      <p class="m-0 font-weight-bold" style="color: #007bff;">Do a Test</p>
  </div>
  <div class="card-body" style="padding-top: 0px;"><span class="text-white text">Add New Patient</span>
      <form>
          <div class="form-row">
              <div class="col-lg-8" style="height: 146px;">
                  <div class="form-group" style="padding: -13px;"><label for="email" style="width: 214px;"><strong>Patient selected</strong><br /></label><input type="email" class="form-control" placeholder="Patient Name" name="pID" /><input type="text" class="form-control mt-1" placeholder="P-ID"
                          name="last_name" /><span class="d-none d-lg-inline mr-2 text-gray-600 small text-info">Pick the patien from the below table.</span></div>
              </div>
              <div class="col text-nowrap or"></div>
          </div>
          <div class="form-row" style="padding: 13px;">
              <div class="col" style="padding: 17;"><label for="email" style="width: 214px;margin-top: 7px;"><strong>Import audio samples</strong><br /></label>
                  <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                      <div class="form-control border-info text-nowrap " data-trigger="fileinput"><i class="glyphicon glyphicon-file fileinput-exists"></i>Click here to add the audio samples.<span class="fileinput-filename"></span></div><span class="input-group-addon btn btn-default btn-file"><span class="fileinput-exists">Change</span><input
                          multiple type="file" name="..." /></span><a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a></div><a class="btn btn-info border rounded d-sm-flex d-lg-flex flex-row justify-content-center align-self-center flex-nowrap justify-content-sm-center justify-content-lg-center align-items-lg-center btn-icon-split fileinput-new"
                      role="button" style="margin-top: -24px;padding: 4px;"><span class="text-white-50 icon" style="margin-top: 0px;color: 0;background-color: rgba(255,255,255,0);"><i class="fas fa-check-circle" style="font-size: 19px;width: 23px;color: #ffffff;"></i></span><span class="text-uppercase text-center text-white d-lg-flex align-content-center align-self-center justify-content-lg-center align-items-lg-center mx-3 text-white">Proceed Prediction</span></a></div>
          </div>
      </form>
  </div>
</div>
