<div class="card shadow mb-3">
  <div class="card-header py-3 border-left-primary">
    <p class="m-0 font-weight-bold" style="color: #007bff;">Do a Test</p>
  </div>

  <div class="card-body" style="padding: 1px;padding-top: 10px;padding-bottom: 20px;height: 180px;">
    <form class="text-center">

      <app-pick-patient> </app-pick-patient>



      <div hidden class="col text-center border-info border rounded" style="
            padding: px;
            padding-top: 0px;
            margin-top: 4px;
            margin-right: 30px;
            margin-left: 28px;
            padding-right: 20px;
            padding-left: 20px;
          ">
        <label class="text-center text-gray-900 tex"
          style="width: 214px; margin: 10px; margin-top: 0; margin-bottom: 0;">
          <strong>Selected patient</strong>

          <br />

        </label>
        <div class="table-responsive text-nowrap shadow-sm table mt-2" id="dataTable-1" role="grid"
          aria-describedby="dataTable_info" style="filter: blur(0px);">
          <table class="table dataTable my-0" id="dataTable">
            <thead class="shadow-sm">
              <tr class="text-left shadow-sm text-gray-700" style="font-size: 16px; height: 0px;"></tr>
            </thead>
            <tbody>
              <tr class="text-nowrap text-left shadow-none" style="font-size: 16px;">
                <td class="text-left" style="
                      padding: 0;
                      padding-left: 15px;
                      height: 11px;
                      width: 1px;
                    ">
                  Patient ID
                </td>
                <td class="text-center" style="padding: 0; width: 10px;">
                  :
                </td>
                <td class="text-left font-weight-bold" style="
                      padding: 0;
                      padding-left: 17px;
                      height: 11px;
                      width: 117px;
                    ">
                  - - -
                </td>
              </tr>
              <tr class="text-nowrap text-left shadow-none" style="font-size: 16px;">
                <td class="text-left" style="
                      padding: 0;
                      padding-left: 15px;
                      height: 11px;
                      width: 1px;
                    ">
                  Full Name
                </td>
                <td class="text-center" style="padding: 0; width: 10px;">
                  :
                </td>
                <td class="text-left font-weight-bold" style="
                      padding: 0;
                      padding-left: 17px;
                      height: 11px;
                      width: 117px;
                    ">
                  - - -
                </td>
              </tr>
              <tr class="text-nowrap text-left shadow-none" style="font-size: 16px;">
                <td class="text-left" style="
                      padding: 0;
                      padding-left: 15px;
                      height: 11px;
                      width: 1px;
                    ">
                  Age
                </td>
                <td class="text-center" style="padding: 0; width: 10px;">
                  :
                </td>
                <td class="text-left font-weight-bold" style="
                      padding: 0;
                      padding-left: 17px;
                      height: 11px;
                      width: 117px;
                    ">
                  - - -
                </td>
              </tr>
              <tr class="text-nowrap text-left shadow-none" style="font-size: 16px;"></tr>
              <tr class="text-nowrap text-left shadow-none" style="font-size: 16px;"></tr>
              <tr class="text-nowrap text-left" style="font-size: 13px;"></tr>
              <tr class="text-nowrap text-left" style="font-size: 13px;"></tr>
            </tbody>
            <tfoot>
              <tr></tr>
            </tfoot>
          </table>
        </div>
        <i class="fas fa-backspace flex-column align-items-end text-white rounded-lg" data-toggle="tooltip"
          title="Deselect the patient" style="
              color: #d81e05;
              background-color: #d81e05;
              font-size: 21px;
              padding: 4px;
              padding-bottom: 3px;
              margin-bottom: 9px;
            "></i>



        <div hidden class="col text-center border-info border rounded" style="
            padding: px;
            padding-top: 0px;
            margin-top: 4px;
            margin-right: 30px;
            margin-left: 28px;
            padding-right: 20px;
            padding-left: 20px;
          ">
          <label class="text-gray-900" for="email"
            style="width: 214px; margin-top: 7px; font-size: 18px;"><strong>Import audio
              samples</strong><br /></label><a
            class="btn btn-success border rounded shadow-sm d-sm-flex d-lg-flex flex-row justify-content-center align-self-center flex-nowrap justify-content-sm-center justify-content-lg-center align-items-lg-center bg-dark text-whitete rounded p-1"
            data-toggle="tooltip" role="button" style="margin: 0; margin-top: 0px; padding: 4px;">
            <span
              class="input-group-addon btn btn-default btn-file form-control text-nowrap bg-dark text-white rounded">
              <i class="fas fa-plus"></i> Click here to import the audio

              <input name="file-picker" type="file" multiple />
            </span>
          </a>
          <a class="btn btn-success border rounded shadow-sm d-sm-flex d-lg-flex flex-row justify-content-center align-self-center flex-nowrap justify-content-sm-center justify-content-lg-center align-items-lg-center btn-icon-split fileinput-new rounded mt-2"
            data-toggle="tooltip" title="Proceed Test" role="button" style="
              margin: 0;
              margin-top: 0px;
              padding: 4px;
              margin-left: 0px;
              margin-bottom: 16px;
            "><span class="text-white-50 icon" style="
                margin-top: 0px;
                color: 0;
                background-color: rgba(255, 255, 255, 0);
              "><i class="fas fa-check-circle" style="font-size: 19px; width: 23px; color: #ffffff;"></i></span><span
              class="text-uppercase text-center text-white d-lg-flex align-content-center align-self-center justify-content-lg-center align-items-lg-center mx-3 text-white">Proceed
              Prediction</span></a>
        </div>
      </div>
    </form>
  </div>
</div>
