<link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,600,700,700iamp;subset=latin-ext" rel="stylesheet">

<title>Vocalson | Welcome Home</title>
<!-- Navigation -->
<app-top-nav-bar></app-top-nav-bar>
<!-- end of navigation -->

<!-- Header -->
<app-home></app-home>
<!-- end of header -->

<!-- About -->
<app-about></app-about>
<!-- end of about -->

<!-- FAQs -->
<app-faq></app-faq>
<!-- End of FAQs -->

<!-- Contact -->
<app-contact-us></app-contact-us>
<!-- end of contact -->

<app-footer></app-footer>
