<title>Reset Password</title>
<main class="page">
  <section class="clean-block clean-form dark">
    <div class="container ds">
      <div [ngStyle]="form()">
        <div class="block-heading">

          <h2 class="text-info"
            style="letter-spacing:-1px; filter:drop-shadow(0px 1px 1px rgba(157,157,157,0.5)); margin-top:13px; ">
            <p class="ds">Set new password.</p>
          </h2>

        </div>

        <form [formGroup] class="ds rounded" id="passwordDiv">
          <div class="form-group text-center"
            style="margin-top:0px;padding-bottom:0;font-size:20px;color:#3b99e0;font-family:Roboto, sans-serif;">
            <p class="ds ">Lets reset it.</p>
          </div>
          <div class="form-group" style="margin-top:25px;">

            <label class="shadow-none" style="filter:drop-shadow(0px 1px 1px rgba(157,157,157,0.5));">
              New password
            </label>

            <input type="password" class="form-control item ds" #pass />

            <label class="shadow-none" style="filter:drop-shadow(0px 1px 1px rgba(157,157,157,0.5));">
              Confirm password
            </label>

            <input type="password" (keyup.enter)="resetPassword(pass.value,passconfirm.value)"
              class="form-control item ds" #passconfirm />
            <span [ngClass]="{'invisible': match,'visible': match}" class="text-danger text-small">Password did
              not match.</span>
          </div>

          <button class="btn btn-primary btn-block ds" type="button"
            (click)="resetPassword(pass.value,passconfirm.value)">
            Reset Password
          </button>

          <div class="form-group text-center"
            style="margin-top:41px;padding-bottom:-11px;font-size:0px;font-family:Roboto, sans-serif;">

            <a href="" routLink="/Sign-in" class="text-center text-primary" style="font-size:14px;">
              Remeber the password?
              <b style="font-size:16px;"> Sign In <i class="fa fa-sign-in"></i> </b>
            </a>
          </div>
        </form>
      </div>

      <div [ngStyle]="message()">
        <div class="block-heading">

          <h2 class="text-info"
            style="letter-spacing:-1px; filter:drop-shadow(0px 1px 1px rgba(157,157,157,0.5)); margin-top:13px; ">
            <p class="ds"><br></p>
          </h2>

        </div>
        <form [formGroup] class="ds rounded" id="successMessage">

          <div class="form-group text-center"
            style="margin-top:0px;padding-bottom:0;font-size:37px;color:#3b99e0;font-family:Roboto, sans-serif;">
            <p class="ds">
              New password changed successfully.
            </p>
          </div><button class="btn btn-primary btn-block ds" routerLink="/sign-in" type="button"
            style="margin-top:50px;font-size:18px;">Sign
            In
          </button>
        </form>
      </div>
    </div>
  </section>
</main>
