<header id="header" class="header">
    <div class="header-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="text-container">
                        <h1><span class="turquoise">Vocal</span>son</h1>
                        <p class="p-large">Better Lives. Together</p>
                        <a class="btn-solid-lg page-scroll" href="#services">Add a patient</a>
                        <br/><br/><br/><br/><br/>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of header-content -->
</header> <!-- end of header -->



